@model InventoryManagementSystem.Models.AssetAquisation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssetAquisation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssetMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssetMaster.AssetDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorMaster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorMaster.VendorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AAid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
